<%- include('./partials/head') %>


  <main>
  <a href="/">Terug naar het overzicht</a>
  <article class="detail-article">
    <h2><%- article.title.rendered %></h2>
    <img src="<%=article.jetpack_featured_media_url%>">
      <div class="detail-article">
        <span><%= new Date(article.date).getDate() %>/<%= new Date(article.date).getMonth() %>/<%= new
      Date(article.date).getFullYear() %></span>
        <form action="/article/<%= article.slug %>" method="post">
          <input type="hidden" name="slug" value="<%= article.slug %>">
          <!-- <label for="share"><span><%= article.shares %> keer gedeeld</span></label> -->
          <button type="submit" class="deel-button" id="share"><span>Like dit artikel</span></button>
        </form>
      </div>
      
    </p>
    <%- article.content.rendered %>
  </article>
</main>
  <%- include('./partials/foot') %>

